.d-tag-editor {
	border: 1px #B0B0B0 solid;
	background: white url(form/text-field-bg.gif) repeat-x;
}

.d-tag-editor .tag-container .tag {
	background: #fdfcc2;
	border: 1px solid #edc847;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 14px;
	line-height: 13px;
	overflow: hidden;
	margin: 1px 1px;
	padding: 0 3px;
}

.d-tag-editor .tag-container .tag-hover {
	background: #fdfcb2;
	border: 1px solid #d3a608;
}

.d-tag-editor .tag-container .tag .close {
	width: 10px;
	height: 10px;
	background: url(form/cross.gif);
	margin: 0 0 -2px 2px;
}

.d-ie6 .d-tag-editor .tag-container .tag .close, .d-ie7 .d-tag-editor .tag-container .tag .close {
	margin-bottom: 3px;
}

.d-tag-editor .tag-container .tag .close-hover {
	background: url(form/cross.gif) -10px 0;
}

.d-tag-editor .tag-container .tag-error {
	color: #630000;
	border: 1px #fc3737 solid;
	background: #f9cece;
	text-decoration: line-through;
}
.d-tag-editor .tag-container .tag-required {
	border: 1px #828282 solid;
	background: #dedede;
}

.d-tag-editor .editor {
	height: 16px;
}

.d-ie .d-tag-editor .editor {
	position: relative;
	top: -4px;
}

.d-tag-editor .d-trigger {
	background: url(form/dropdown-trigger-bg.gif) no-repeat;
}

.d-tag-editor .dirty-flag {
	background: url(form/dirty-flag.gif);
}

.d-tag-editor-hover {
	border: 1px #707070 solid;
}

.d-tag-editor-hover .d-trigger {
	background-position: -18px 0;
}

.d-tag-editor-focused {
	border: 1px #6ECC81 solid;
	background: white url(form/text-field-bg-focus.gif) repeat-x;
}

.d-tag-editor-focused .d-trigger {
	background-position: -36px 0;
}

.d-tag-editor-focused .d-trigger-down {
	background-position: -54px 0;
}

.d-tag-editor-warn {
	border: 1px #DDB147 solid;
	background: white url(form/text-field-bg-warn.gif) repeat-x bottom;
}

.d-tag-editor-warn .d-trigger {
	background-position: -72px 0;
}

.d-tag-editor-warn .d-trigger-down {
	background-position: -90px 0;
}

.d-tag-editor-error {
	border: 1px #FC3737 solid;
	background: white url(form/text-field-bg-error.gif) repeat-x bottom;
}

.d-tag-editor-error .d-trigger {
	background-position: -108px 0;
}

.d-tag-editor-error .d-trigger-down {
	background-position: -126px 0;
}

.d-tag-editor-readonly {
	border: 1px #A1A1A1 solid;
	background: #F8F8F8;
}
.d-tag-editor-req {
	border: 1px #55dcb2 solid;
	background: #55dcb2;
}
.d-tag-editor-readonly .d-trigger {
	background-position: -144px 0;
}